<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>

    <form [formGroup]="loginForm">
      <div class="temp">
        <ion-item class="logitem">
          <ion-input formControlName="username" type="text" placeholder="Email/Mobile*"></ion-input>
        </ion-item>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>username required!</p>
      </ion-item>
      <div class="temp">
        <ion-item class="logitem">
          <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="Password*"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="Password*"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>password required!</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">SIGN IN</button>
      <ion-row>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;" (tap)="forgotPassFunc()">Forgot Password?</ion-col>
        <!-- <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">New user?&nbsp;&nbsp;
          <span style="color:#d80622;" (tap)="gotosignuppage()">SIGNUP</span>
        </ion-col> -->
      </ion-row>
    </div>
    <!-- </div> -->
  </div>
</ion-content>
