<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterby($event)">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item *ngIf="portstemp.length != 0" class="itemStyle">
    <ion-label>Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item>
</ion-header>

<ion-content [ngClass]="{ 'masters': portstemp.length != 0,'masters1': portstemp.length == 0 }">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->
  <div *ngIf="MassArray1.length == 0">
    <p padding-left>Oops.. No data found for selected vehicle..</p>
  </div>
  <div *ngIf="MassArray1.length != 0">
    <ion-list>
      <ion-item *ngFor="let notif of MassArray1; let i= index;">

        <ion-avatar item-start>
          <img src="assets/imgs/sos.webp" *ngIf="notif.type == 'SOS' ">
          <img src="assets/imgs/speedlimit.webp" *ngIf="notif.type == 'overspeed' ">
          <img src="assets/imgs/geofence.jpg" *ngIf="notif.type == 'Geo-Fence' ">
          <img src="assets/imgs/ignition-switch-icon.jpg" *ngIf="notif.type == 'IGN' ">
          <img src="assets/imgs/car2.webp" *ngIf="notif.type == 'route-poi' ">
          <img src="assets/imgs/petrolpump4.jpg" *ngIf="notif.type == 'Fuel' ">
          <img src="assets/imgs/system_status-noun_63767_cc.webp" *ngIf="notif.type == 'status'">
          <img src="assets/imgs/AccurateMapping.jpg" *ngIf="notif.type == 'Route'">
          <img src="assets/imgs/397px-Snow_flake.svg.webp" *ngIf="notif.type == 'AC' ">
          <img src="assets/imgs/power-png-icon-6.webp" *ngIf="notif.type == 'power'">
          <img src="assets/imgs/key_orange.jpg" *ngIf="notif.type == 'immo'">
          <img src="assets/imgs/342e07b3a6f1628afd14c9b4e6c93afe_icon.webp" *ngIf="notif.type == 'theft'">
          
          
        </ion-avatar>
        <h2>{{notif.type}}</h2>
        <p ion-text text-wrap>{{notif.item['sentence']}}</p>
        <ion-row item-end>
          <ion-col width-40>
            <div style="margin-top:19%;">
              <p style="text-align: right;font-size: 12px;">{{notif.timestamp | date: 'mediumDate'}}</p>
            </div>
            <div style="margin-top:19%;">
              <p style="text-align: right;font-size: 12px;">{{notif.timestamp | date:'shortTime'}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>