<ion-header>
  <ion-navbar>
    <ion-title>Geofences</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addgeofence()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="padding: 10px;">
    <div style="padding: 0px 10px 10px;margin-top: -10px; background: white; border-radius: 5px;">
      <input type="radio" name="demo" [(ngModel)]="creation_type" value="circular" id="radio-one" class="form-radio"
        (click)="radioChecked('circular')"><label for="radio-one">Circular</label>
      <input type="radio" name="demo" [(ngModel)]="creation_type" value="polygon" id="radio-one" class="form-radio"
        (click)="radioChecked('polygon')"><label for="radio-two">Polygon</label>
    </div>
  </div>
  <div *ngIf="devices.length > 0">
    <ion-card *ngFor="let item of devices">
      <ion-item (click)="geofenceShow(item)">
        <h2>{{item.geoname}}</h2>
        <p style="margin-top: 3%;">Number Of Vehicles - {{item.devicesWithin.length}}</p>
        <ion-icon item-end name="trash" color="danger" (tap)="DelateGeofence(item._id)"> </ion-icon>
      </ion-item>
      <!-- <ion-toggle color="danger"></ion-toggle> -->
      <ion-row>
        <ion-col width-33>
          <div style="padding-left: 10px;">
            <ion-toggle [(ngModel)]="item.status" (ionChange)="DisplayDataOnMap(item)" color="danger"></ion-toggle>
          </div>

          <!-- <ion-toggle [(ngModel)]="item.status" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left:11%;"></ion-toggle> -->
          <p style="color:#e618af;font-size:10px;margin-left: 10px;">Display on map</p>
        </ion-col>
        <ion-col width-33 style="text-align: center;">
          <div style="padding-left: 10px;">
            <ion-toggle [(ngModel)]="item.entering" (ionChange)="DisplayDataOnMap(item)" color="danger"></ion-toggle>
          </div>
          <!-- <ion-toggle [(ngModel)]="item.entering" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left: 20%;"></ion-toggle> -->
          <p style="color:green;font-size: 10px;margin-left: -8%;">Notification Entering</p>
        </ion-col>
        <ion-col width-33>
          <div style="padding-left: 10px;">
            <ion-toggle [(ngModel)]="item.exiting" (ionChange)="DisplayDataOnMap(item)" color="danger"></ion-toggle>
          </div>
          <!-- <ion-toggle [(ngModel)]="item.exiting" (ionChange)="DisplayDataOnMap(item)" color="danger" style="margin-left: 20%;"></ion-toggle> -->
          <p style="color:green;font-size: 10px; margin-left: 11%;">Notification Exiting</p>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
  <div *ngIf="allData._poiListData.length > 0">
    <ion-card *ngFor="let list of allData._poiListData;">
      <ion-item>
        <ion-thumbnail item-start>
          <div id="{{list.mapid}}" style="height: 100px; width: 100px;"></div>
        </ion-thumbnail>
        <h1>{{list.geonamename}}</h1>
        <p style="color: #687DCA">Radius: {{list.radius}}</p>
        <p>
          <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;{{list.address}}
        </p>
        <p>
          <!-- <button ion-button round small (click)="editPOI(list)">Edit</button> -->
          <button ion-button round small style="background: #a60033; color: white"
            (click)="deletePOI(list)">Delete</button>
        </p>
      </ion-item>
    </ion-card>
  </div>

</ion-content>