
.introjs-helperLayer {
    opacity: 0.1;
}
page-add-devices {


    .itemStyle {
        .item-ios,.item-md {
            padding: 0px !important;
        }
        .label-ios,.label-md {
          margin: 0px !important;
        }
        .item-ios.item-block .item-inner,.item-md.item-block .item-inner {
         padding: 0px !important;
         margin: 0px !important;
        }  
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        // border-bottom: 1px solid #dedede;
    }

   .ava{
         min-width: 0px; 
         min-height: 0px; 
       img {
           height: 22px;
           width: 28px;
       }
   }

   .activeBtn {
    position: absolute;
    z-index: 1000;
    top: 68%;
    right: 6%;
   }

   .colSt1{
        height:4.4rem; 
        background-image: linear-gradient(to left top, #02adef, #a09afb, #fb7bcc, #ff7376, #f39910);
    // background-image: linear-gradient(to left bottom, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
        padding: 0px;
        text-align: center;
        position:relative;
   }

   .colSt1Copy{
        height:4.4rem; 
        // background-image: linear-gradient(to left bottom, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
        padding: 0px;
        text-align: center;
        position:relative;
    }

   .colSt2{
        height:4.4rem; 
        width:80%; 
        padding: 0px;
   }

   .overme {
        padding-top:8px;
        padding-right: 2px;
        width: 180px;
        line-height: normal;
        overflow:hidden; 
        font-size: 10px;
        color: white;
        /*The problematic part is below*/
        white-space:nowrap; 
        text-overflow: ellipsis;
    }
    
    .overme {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .item-ios [item-end],
    .item-md [item-end] {
      margin-bottom: 20px;
  }
   
}
